.menuLogoNight {
    background-image: url('../../assets/3000.jpg');
    background-size: cover;
    opacity: 1;
}

.menuLogoLight {
    background-image: url('../../assets/imagen_chica.jpg');

    background-size: cover;
    background-position: end;
    opacity: 1;
}

.menuMainLight {
    background-color: var(--background-light);
}

.menuMainNight {
    background-color: var(--background-dark);
    box-shadow: 0px 0px 50px 0px #fff;
}

.menuSearchAuxieNight {
    background-color: var(--div-color-dark);
}

.divSloganLight {
    background-color: var(--div-color-light);
    h3{
        font-weight: 500;
    }
    p{
        font-weight: 350;
    }
}
.divSloganNight {
    h3{
        font-weight: 500;
    }
    p{
        font-weight: 350;
    }
}


.logInMenu {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: var(--secondary--color-light);
    overflow: hidden;
    .container {
        font-size: 200%;

        div {
            width: 90%;
            height: 50%;
            display: flexbox;
            margin-top: 5%;
            div {
                background-color: var(--sixth--color-light);
                margin-left: 5%;
                padding: 5%;
                border-radius: 10px;
                transition: background-color 0.5s ease;
            }
            div:hover {
                background-color: var(--secondary--anchor--color-hover);
            }
        }
    }
}
.registerMenu {
    position: relative;
    width: 100%;
    height: max-content;
    overflow: hidden;

    .container {
        font-size: 200%;
        div {
            width: 90%;
            height: 50%;
            display: flexbox;
            margin-top: 5%;

            div {
                margin-left: 5%;
                padding: 5%;
                border-radius: 10px;
            }
        }
        button {
            width: 3%;
            height: 3%;
            margin-left: 95%;
            border-radius: 5px;
            border: none;

            font-size: 50%;
            cursor: pointer;
            padding: 5px;
        }
    }
}
.hiden {
    section {
        display: none;
    }
    footer {
        display: none;
    }
}

.landing {
    display: grid;

    .sectionMenu {
        z-index: 2;
        height: 70vh;
    }
    /* Estilos para la sección 1 (menuLogo) */

    .menuLogo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .menuMain {
            border-radius: 10px;
            width: 40%;
            height: 16em;
            margin-left: 15%;
        }
        .buttonsMenuMain {
            display: flex;
            text-align: center;
            height: 25%;
            
        }
        .menuSearchAuxie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            align-items: center;
            font-size: large;
            margin-top: 8%;
            button {
                margin-top: 10%;
            }
            select {
                border-radius: 10px;
                padding: 2%;
                font-size: 110%;
            }
        }

        .menuTurnAuxie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            font-size: large;
            margin-top: 8%;

            select {
                border-radius: 10px;
                padding: 2%;
                font-size: 110%;
            }
        }
    }

    /* Estilos para la sección 2 (slogan) */
    .sloganNone {
        height: 12em;
    }

    .slogan {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12em;
        margin: 2em 0;
        padding: 1em 0;
        .divSlogan {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1em;
            gap: 20px;
            h3 {
                font-size: 30px;
            }
            p {
                font-size: 120%;
                display: flex;
                flex-direction: column;
                margin-top: 1%;
                margin-bottom: 2%;
            }
        }

    }
    .buttonSlogan1Cont {
        .buttonSlogan1 {
            font-size: 120%;
            text-align: center;
            font-family: var(--font-poppins);
            border-radius: 10px;
            border: none;
            background-color: var(--fourth--color-light);
            color: white;
        }
        .buttonSlogan1:hover {
            cursor: pointer;
            background-color: var(--primary--anchor--color--hover);
            transition: background-color 0.5s ease;
        }
    }

    /* Estilos para la sección 3 (cards) */
    .serviceCards {
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        margin-top: 2em;
        .serviceCardsTitle{
            padding-bottom: 2em;
           h3 {
            font-size: xx-large;
            font-weight: 450;
        } 
        }
        
    }
    /* Estilos para la sección 4 Auxies */
    .auxies {
        z-index: 5;
        font-size: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
        width: 100%;

        .featuredAuxiesCont {
            border-radius: 10px;
            width: 80%;

            .featuredlist {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
            }
        }
    }

    .divCopy {
        margin: 2% 0 0 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
